#playground{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:0;
    padding:0;
    margin:0;
}
*{background-color:black;color:white;}
@media screen and (orientation:portrait){#playground{width:100%;height:auto;}}
@media screen and (orientation:landscape){#playground{height:100%;width:auto;}}
